<div class="jumbotron well">
  <h1>Baw5 Checkers Dashboard</h1>
</div>
<div class='mycontainer thumbnail'>
  <h3>Welcome <%= @user.name %></h3>

  <p>
      <%= link_to 'View Profile', user_path(@user), { :class=>('label label-primary') } %>
      &nbsp; 
      <%= link_to 'Delete Profile', user_path(@user),  :class=>('label label-primary'), method: :delete, data: { confirm: 'This will permanently delete your account. Do you want to delete?'} %>
      &nbsp;
      <%= link_to 'Edit Profile', edit_user_path(@user), { :class=>('label label-primary') } %>
  </p>
</div>

<div class='mycontainer thumbnail'>

  <h3>Players</h3>
  <ul>
  	<% @users.each do |user| %>
  	<li><%= user.name %></li>
  	<% end %>
  </ul>
</div>
<div class="table-responsive mycontainer thumbnail">
  <table class="table">
    <tr>
      <td>

        <div class="right-side">
          <%= form_for @game_room do |f| %>
          <h3>Create Room</h3>
            <%= hidden_field_tag :owner, "3" %>
            <%= f.text_field :room_name, placeholder: "Room Name", :class=>('form-control col-xs-3')  %>
            <%= f.submit "Create Room", { :class=>('btn btn-primary') } %>
          <% end %>
        </div>
        

        <div class="left-side">
            <h4>List of Rooms</h4>
            <ul>
              <% @rooms.each do |room| %>
              <li><%= link_to "#{room.room_name}", game_room_path(room) %></li>
              <% end %>
            </ul>
        </div>
        
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
