<h2>This is the Dashboard Page</h2>

<h3>Welcome <%= @user.name %></h3>

<p><%= link_to 'View Profile', user_path(@user) %> | <%= link_to 'Delete Profile', user_path(@user), method: :delete, data: { confirm: 'This will permanently delete your account. Do you want to delete?'} %>  | <%= link_to 'Edit Profile', edit_user_path(@user) %></p>


<hr>


<h3>Players</h3>
<ul>
	<% @users.each do |user| %>
	<li><%= user.name %></li>
	<% end %>
</ul>

<hr>

<h3>Game Lobby</h3>
<p>[Placeholder for Osagie]</p>

<h3>Create Room</h3>
<%= form_for @room do |f| %>
  <%= f.text_field :name, placeholder: "Room Name" %>
  <%= f.submit "Create Room" %>
<% end %>

<h4>List of Rooms</h4>
<ul>
  <li>Room 1</li>
  <li>Room 2</li>
</ul>



<%= link_to "Sign out", logout_path %>
<!-- This is currently a get, should be a post -->